<!DOCTYPE html>

<head>
   <link rel="stylesheet" type="text/css" href="/views/customer.css" id="customer_style"></link>
   <title>Customer Home Page</title>
</head>
<body onload="javascript:getOrderId()">

   <!-- Creates category buttons -->
   <% for (var i = 0; i < data.categories.length; i++) {%>
      <!-- Creates buttons 120px below the last -->
      <button class = "menu button categorybutton <%= i %>" onclick = "enableMenuButtons(<%= i %>)" style = "top : <%=100+ 101*i%>px;">
         <%= data.categories[i] %>
      </button>
   <% } %>

   <!-- Go to Cart Button -->
   <button class = "menu button gotocart" style = "position: absolute; left: 340px; top: 25px;" onclick ="goToCart()">Go to Cart</button>
   <button class = 'cart button tender' hidden = "hidden" id = 'tender' style = "position: absolute; left: 1180px; top: 650px;" >Checkout</button>
   <button class = "cart button gotomenu" hidden = "hidden" style = "position: absolute; left: 340px; top: 25px;" onclick ="goToMenu()">Go to Menu</button>

   <!-- Accessibility Button -->
   <button class = "menu button accessibility" style = "position: absolute; left: 510px; top: 25px;">Accessibility</button>

   <!-- Cancel Button -->
   <button class = "menu button cancel" id = 'cancel' style = "position: absolute; left: 680px; top: 25px;"onclick = "clearOrder()">Cancel</button>

   <!-- Total Box-->
   <div class = "menu textbox costbox" id = "costbox" style="top: 25px; position: absolute;" >Total: $0</div>
   <div class = "cart textbox costbox" hidden = "hidden" id = "costbox" style = "left:1000px; top:650px; height:50px; position: absolute;">Total: $0</div>
   <!-- Order ID Box -->
   <div class = "menu textbox" id = "orderId" style="left:170px; top: 25px; position: absolute;" ></div>
   <!-- Displays order -->
   <div class = "cart orderbox" id = "orderbox" hidden = "hidden" style="width:300px;height:525px;border:2px solid maroon;top: 110px; left: 1000px;  background-color: white; position: absolute;" ></div>
   <!--  Creates menu buttons  -->
   <div class="flex-container1">
      <% for (var i = 0; i < data.menuArray.length; i++) {%>  
         <% for (var j = 0; j < data.menuArray[i].length; j++) {%>
            <!-- Assingns buttons into class depending on category -->
            <!-- Gets ingredients -->
            
            <% var i1 = data.menuMap.get(data.menuArray[i][j]).ingredient1 %>
            <% if(i1 == null){ %>
               <%i1 = 0 }%>
            <% var i2 = data.menuMap.get(data.menuArray[i][j]).ingredient2 %>
            <% if(i2 == null){ %>
               <%i2 = 0 }%>
            <% var i3 = data.menuMap.get(data.menuArray[i][j]).ingredient3 %>
            <% if(i3 == null){ %>
               <%i3 = 0 }%>
            <% var i4 = data.menuMap.get(data.menuArray[i][j]).ingredient4 %>
            <% if(i4 == null){ %>
               <%i4 = 0 }%>
            <% var i5 = data.menuMap.get(data.menuArray[i][j]).ingredient5 %>
            <% if(i5 == null){ %>
               <%i5 = 0 }%>
            <% var i6 = data.menuMap.get(data.menuArray[i][j]).ingredient6 %>
            <% if(i6 == null){ %>
               <%i6 = 0 }%>

            <!-- gets price -->
            
            <% var price = data.menuMap.get(data.menuArray[i][j]).price %>
            <button class = "button menubutton <%= i %>" id = "menubutton <%= i %> <%= j %>" hidden = "hidden" onclick = "addToOrder(orderArray, <%= data.menuMap.get(data.menuArray[i][j]).itemid %>,  <%=price %>, <%=i1 %>, <%=i2 %>, <%=i3 %>, <%=i4 %>, <%=i5 %>, <%=i6 %>, <%=i %>, <%=j %>)">
               <%= data.menuMap.get(data.menuArray[i][j]).itemname %>
               <div class="textbox price" id = "price <%= i %> <%= j %>" style="left: 180px; top: 70px; width:100px; height: 20px; position:relative; border: solid maroon 2px;">$<%=price%></div>
            </button>
         <% } %>
      <% } %>
         </div>   
</body>
<script src="/views/functions.js"> </script>
